<div class="localizer-container">
    <div class="neumophoric-card">
        <div class="neumophoric-header" i18n>
            {{title}}
        </div>
        <p>
            <mat-form-field appearance="fill">
              <mat-label i18n>Enter details</mat-label>
              <input  matInput i18n>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Enter localised data">
            </mat-form-field>
          </p>
                <button mat-button  i18n>Submit </button>
        </div>
</div>