.content {
    padding: 16px;
    max-width: 100%;
}

.content > mat-card {
    width: 250px;
    max-width: 250px; 
    border:whitesmoke;
}

.card-title {
    padding: 15px;
    margin: 15px;
}

.custom-cursor {
    cursor: pointer;
}
