<header>
    <div>
        <span class="logo1">
            Angular hosted Blog Spot
        </span>
    </div>
</header>

<main *ngIf="blogPosts$ | async as blogPosts">
    <!-- <pre>{{ blogPosts | json }}</pre> -->

    <div class="blog-posts-container" *ngFor="let item of blogPosts.items">
<div class="card-cat">
        <img [src]="item.fields.featImage.fields.file.url" alt="" class="cat-image">
            <h2 class="title">{{item.fields.title}}</h2>
            <br/>
            <p class="author"> {{item.fields.author}}</p>
            <br/>
            <p class="summarry"> {{item.fields.summarry}}</p>
            <br/>
            <button mat-button [routerLink]="['blog',item.sys.id]">Read more</button>


</div>
    <div class="car-image">
        <img [src]="item.fields.mediaItem2.fields.file.url" alt="" class="car-image">
        <h2 class="title">{{item.fields.title}}</h2>
        <br/>
        <p class="author"> {{item.fields.author}}</p>
        <br/>
        <p class="summarry"> {{item.fields.summarry}}</p>
        <br/>
        <button mat-button [routerLink]="['blog',item.sys.id]">Read more</button>


    </div>
    <div class="food-image">
        <img [src]="item.fields.mediaItem3.fields.file.url" alt="" class="food-image">
        <br/>
        <h2 class="title">{{item.fields.title}}</h2>
        <br/>
        <p class="author"> {{item.fields.author}}</p>
        <br/>
        <p class="summarry"> {{item.fields.summarry}}</p>
        <br/>
        <button mat-button [routerLink]="['blog',item.sys.id]">Read more</button>


    </div>
</div>

</main>
