<header>
    <div>
        <span class="logo1">
            Angular hosted Blog Spot
        </span>
    </div>
</header>

<main *ngIf="blogPosts$ | async as blogPosts">
    <!-- <pre>{{ blogPosts | json }}</pre> -->

    <div class="blog-posts-container" *ngFor="let item of blogPosts.items">
<span>
        <img [src]="item.fields.featImage.fields.file.url" alt="" class="cat-image">
            <h2 class="title">{{item.fields.title}}</h2>`
            <p class="author"> {{item.fields.author}}</p>
            <p class="summarry"> {{item.fields.summarry}}</p>
            <a [routerLink]='["blog",item.sys.id]'> Read More</a>
    </span>
    <span>
        <img [src]="item.fields.mediaItem2.fields.file.url" alt="" class="car-image">
        <h2 class="title">{{item.fields.title}}</h2>
        <p class="author"> {{item.fields.author}}</p>
        <p class="summarry"> {{item.fields.summarry}}</p>
        <a [routerLink]='["blog",item.sys.id]'> Read More</a>


    </span>
    <span>
        <img [src]="item.fields.mediaItem3.fields.file.url" alt="" class="food-image">
        <h2 class="title">{{item.fields.title}}</h2>
        <p class="author"> {{item.fields.author}}</p>
        <p class="summarry"> {{item.fields.summarry}}</p>
            <a [routerLink]='["blog",item.sys.id]'> Read More</a>


    </span>
</div>

</main>
